.vartical-devider svg {
    width: .2em;
    height: 4em;
}

.vartical-devider-off svg {
    width: .2em;
    height: 4em;
}

.vartical-devider {
    position: fixed;
    right: 3.8em;
    top: 22em;
    cursor: pointer;
}

.vartical-devider-off {
    position: fixed;
    right: .1em;
    top: 22em;
    cursor: pointer;
}

/* .active-plus{
    border-radius: 50%;
    background-color: #1A3E61;
    padding: .3em;
} */
.footer-menu {
    right: .5em;
}

.rigthmenu {
    transition: all 2s ease-in;
    transition-delay: calc(2s + 2s);
}